<a href="https://colab.research.google.com/github/redR0b0t/COLAB/blob/master/Data_science_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving CrashTest_TrainData.csv to CrashTest_TrainData.csv

In [3]:
from google.colab import files
uploaded = files.upload()

In [6]:
import io
import pandas as pd
df_test = pd.read_csv(io.BytesIO(uploaded['CrashTest_TrainData.csv']))
# Dataset is now stored in a Pandas Dataframe

KeyError: ignored

In [7]:
from google.colab import files
uploaded = files.upload()

Saving CrashTest_TrainData.csv to CrashTest_TrainData (1).csv

In [0]:
import io
df_test = pd.read_csv(io.BytesIO(uploaded['CrashTest_TrainData.csv']))
# Dataset is now stored in a Pandas Dataframe

In [13]:
uploaded=files.upload()

Saving CrashTest_TestData.csv to CrashTest_TestData.csv

In [0]:
df_train=pd.read_csv(io.BytesIO(uploaded['CrashTest_TestData.csv']))

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
CarID      80 non-null int64
ManHI      80 non-null float64
ManBI      80 non-null float64
IntI       77 non-null float64
HVACi      80 non-null float64
Safety     80 non-null float64
CarType    80 non-null object
dtypes: float64(5), int64(1), object(1)
memory usage: 4.5+ KB

In [16]:
df_test.describe()

         CarID      ManHI      ManBI       IntI      HVACi    Safety
count  80.0000  80.000000  80.000000  77.000000  80.000000  80.00000
mean   40.5000  -0.093500  -0.927750  -0.346623   0.119750   0.54375
std    23.2379   5.802878   5.600224   5.806723   5.813306   5.79723
min     1.0000  -9.930000  -9.940000  -9.990000  -9.820000  -9.80000
25%    20.7500  -5.195000  -5.705000  -5.940000  -5.675000  -4.67750
50%    40.5000   0.635000  -1.815000  -0.500000   0.870000   0.83000
75%    60.2500   5.050000   3.417500   4.820000   5.062500   4.62250
max    80.0000   9.570000   9.610000   9.720000   9.890000   9.99000

In [17]:
df_train.describe()

           CarID      ManHI     ManBI       IntI      HVACi     Safety
count   20.00000  20.000000  20.00000  20.000000  20.000000  20.000000
mean    90.50000   0.047000   0.32800   0.524000   0.723500   0.191000
std      5.91608   6.253216   4.05164   4.953771   5.479129   6.154548
min     81.00000  -9.940000  -8.74000  -8.950000  -9.230000  -8.660000
25%     85.75000  -5.535000  -2.50250  -3.272500  -2.455000  -6.095000
50%     90.50000   0.740000   0.67000   1.200000   0.675000  -0.770000
75%     95.25000   5.110000   2.50000   3.907500   5.337500   4.992500
max    100.00000   9.090000   8.42000   8.870000   8.330000   9.620000

In [18]:
df_train.head()

   CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0     81   1.94   2.21  3.38   1.78   -7.19  Hatchback
1     82  -0.02  -3.33  0.79  -6.63    7.99        SUV
2     83  -0.49  -4.48  5.00   8.33   -2.77  Hatchback
3     84   5.76   1.35  7.92  -0.43    4.29  Hatchback
4     85   2.51  -8.74  4.53  -1.91    3.95  Hatchback

In [19]:
df_train.count(nan)

NameError: ignored

In [20]:
df_train.countna()

AttributeError: ignored

In [21]:
df_train.isna()

    CarID  ManHI  ManBI   IntI  HVACi  Safety  CarType
0   False  False  False  False  False   False    False
1   False  False  False  False  False   False    False
2   False  False  False  False  False   False    False
3   False  False  False  False  False   False    False
4   False  False  False  False  False   False    False
5   False  False  False  False  False   False    False
6   False  False  False  False  False   False    False
7   False  False  False  False  False   False    False
8   False  False  False  False  False   False    False
9   False  False  False  False  False   False    False
10  False  False  False  False  False   False    False
11  False  False  False  False  False   False    False
12  False  False  False  False  False   False    False
13  False  False  False  False  False   False    False
14  False  False  False  False  False   False    False
15  False  False  False  False  False   False    False
16  False  False  False  False  False   False    False
17  False  False  False  False  False   False    False
18  False  False  False  False  False   False    False
19  False  False  False  False  False   False    False

In [22]:
df_test['CarType'].count()

80

In [52]:
df_train['CarType'].value_counts()

Hatchback    10
SUV          10
Name: CarType, dtype: int64

df_test['CarType'].unique()

ValueError: ignored

In [46]:
df_test

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [47]:
df_test.dropna()

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[77 rows x 7 columns]

In [50]:
df_test.drop(axis=0,index=4)

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
5       6   0.40   6.34  0.83   5.03   -8.10        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[79 rows x 7 columns]

In [85]:
y=df_train['Safety'].values

KeyError: ignored

In [0]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

In [0]:
df_train=df_train.drop(columns='CarType')

In [77]:
df_train=df_train.drop(columns='Safety')

KeyError: ignored

In [86]:
df_train

    ManHI  ManBI  IntI  HVACi
0    1.94   2.21  3.38   1.78
1   -0.02  -3.33  0.79  -6.63
2   -0.49  -4.48  5.00   8.33
3    5.76   1.35  7.92  -0.43
4    2.51  -8.74  4.53  -1.91
5   -4.47   8.42 -0.05   5.57
6   -9.89  -2.25 -5.00  -9.23
7   -9.94  -3.23  2.81  -2.98
8   -8.37   4.21 -8.95   6.66
9    8.48   0.38 -3.02  -1.92
10   0.79   0.96 -4.03  -2.28
11   5.32   2.08  5.55   7.89
12  -7.26  -0.11 -5.27  -7.14
13   0.69   3.37  3.70  -5.73
14  -5.53  -0.12  1.61   2.31
15   8.29   1.44 -7.26   5.06
16   9.09  -2.26  1.64   2.80
17   5.04   4.52  0.28   8.26
18   4.55  -3.88 -2.02  -1.20
19  -5.55   6.02  8.87   5.26