<a href="https://colab.research.google.com/github/redR0b0t/COLAB/blob/master/Kneighbor_learning_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving CrashTest_TrainData.csv to CrashTest_TrainData.csv

In [0]:
from google.colab import files
uploaded = files.upload()

Saving CrashTest_TrainData.csv to CrashTest_TrainData.csv

In [0]:
import io
import pandas as pd
df_train = pd.read_csv(io.BytesIO(uploaded['CrashTest_TrainData.csv']))
# Dataset is now stored in a Pandas Dataframe

In [5]:
from google.colab import files
uploaded = files.upload()

Saving CrashTest_TestData.csv to CrashTest_TestData.csv

In [0]:
import io
df_test = pd.read_csv(io.BytesIO(uploaded['CrashTest_TestData.csv']))
# Dataset is now stored in a Pandas Dataframe

In [0]:
uploaded=files.upload()

Saving CrashTest_TrainData.csv to CrashTest_TrainData.csv

In [0]:
df_train=pd.read_csv(io.BytesIO(uploaded['CrashTest_TrainData.csv']))

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CarID    20 non-null     int64
 1   ManHI    20 non-null     float64
 2   ManBI    20 non-null     float64
 3   IntI     20 non-null     float64
 4   HVACi    20 non-null     float64
 5   Safety   20 non-null     float64
 6   CarType  20 non-null     object
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ KB

In [0]:
df_test.describe()

           CarID      ManHI     ManBI       IntI      HVACi     Safety
count   20.00000  20.000000  20.00000  20.000000  20.000000  20.000000
mean    90.50000   0.047000   0.32800   0.524000   0.723500   0.191000
std      5.91608   6.253216   4.05164   4.953771   5.479129   6.154548
min     81.00000  -9.940000  -8.74000  -8.950000  -9.230000  -8.660000
25%     85.75000  -5.535000  -2.50250  -3.272500  -2.455000  -6.095000
50%     90.50000   0.740000   0.67000   1.200000   0.675000  -0.770000
75%     95.25000   5.110000   2.50000   3.907500   5.337500   4.992500
max    100.00000   9.090000   8.42000   8.870000   8.330000   9.620000

In [0]:
df_train.describe()

           CarID      ManHI     ManBI       IntI      HVACi     Safety
count   20.00000  20.000000  20.00000  20.000000  20.000000  20.000000
mean    90.50000   0.047000   0.32800   0.524000   0.723500   0.191000
std      5.91608   6.253216   4.05164   4.953771   5.479129   6.154548
min     81.00000  -9.940000  -8.74000  -8.950000  -9.230000  -8.660000
25%     85.75000  -5.535000  -2.50250  -3.272500  -2.455000  -6.095000
50%     90.50000   0.740000   0.67000   1.200000   0.675000  -0.770000
75%     95.25000   5.110000   2.50000   3.907500   5.337500   4.992500
max    100.00000   9.090000   8.42000   8.870000   8.330000   9.620000

In [0]:
df_train.head()

   CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0     81   1.94   2.21  3.38   1.78   -7.19  Hatchback
1     82  -0.02  -3.33  0.79  -6.63    7.99        SUV
2     83  -0.49  -4.48  5.00   8.33   -2.77  Hatchback
3     84   5.76   1.35  7.92  -0.43    4.29  Hatchback
4     85   2.51  -8.74  4.53  -1.91    3.95  Hatchback

In [0]:
df_train.count(nan)

NameError: ignored

In [0]:
df_train.countna()

AttributeError: ignored

In [0]:
df_train.isna()

    CarID  ManHI  ManBI   IntI  HVACi  Safety  CarType
0   False  False  False  False  False   False    False
1   False  False  False  False  False   False    False
2   False  False  False  False  False   False    False
3   False  False  False  False  False   False    False
4   False  False  False  False  False   False    False
5   False  False  False  False  False   False    False
6   False  False  False  False  False   False    False
7   False  False  False  False  False   False    False
8   False  False  False  False  False   False    False
9   False  False  False  False  False   False    False
10  False  False  False  False  False   False    False
11  False  False  False  False  False   False    False
12  False  False  False  False  False   False    False
13  False  False  False  False  False   False    False
14  False  False  False  False  False   False    False
15  False  False  False  False  False   False    False
16  False  False  False  False  False   False    False
17  False  False  False  False  False   False    False
18  False  False  False  False  False   False    False
19  False  False  False  False  False   False    False

In [0]:
df_test['CarType'].count()

80

In [0]:
df_train['CarType'].value_counts()

Hatchback    10
SUV          10
Name: CarType, dtype: int64

df_test['CarType'].unique()

ValueError: ignored

In [0]:
df_test

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [0]:
df_test.dropna()

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[77 rows x 7 columns]

In [0]:
df_test.drop(axis=0,index=4)

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
5       6   0.40   6.34  0.83   5.03   -8.10        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[79 rows x 7 columns]

In [0]:
y=df_train['Safety'].values

KeyError: ignored

In [0]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)

In [0]:
df_train=df_train.drop(columns='CarType')

In [0]:
df_train=df_train.drop(columns='Safety')

KeyError: ignored

In [0]:
df_train

    ManHI  ManBI  IntI  HVACi
0    1.94   2.21  3.38   1.78
1   -0.02  -3.33  0.79  -6.63
2   -0.49  -4.48  5.00   8.33
3    5.76   1.35  7.92  -0.43
4    2.51  -8.74  4.53  -1.91
5   -4.47   8.42 -0.05   5.57
6   -9.89  -2.25 -5.00  -9.23
7   -9.94  -3.23  2.81  -2.98
8   -8.37   4.21 -8.95   6.66
9    8.48   0.38 -3.02  -1.92
10   0.79   0.96 -4.03  -2.28
11   5.32   2.08  5.55   7.89
12  -7.26  -0.11 -5.27  -7.14
13   0.69   3.37  3.70  -5.73
14  -5.53  -0.12  1.61   2.31
15   8.29   1.44 -7.26   5.06
16   9.09  -2.26  1.64   2.80
17   5.04   4.52  0.28   8.26
18   4.55  -3.88 -2.02  -1.20
19  -5.55   6.02  8.87   5.26

In [0]:
df_test

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0      81   1.94   2.21  3.38   1.78   -7.19  Hatchback
1      82  -0.02  -3.33  0.79  -6.63    7.99        SUV
2      83  -0.49  -4.48  5.00   8.33   -2.77  Hatchback
3      84   5.76   1.35  7.92  -0.43    4.29  Hatchback
4      85   2.51  -8.74  4.53  -1.91    3.95  Hatchback
5      86  -4.47   8.42 -0.05   5.57    9.62  Hatchback
6      87  -9.89  -2.25 -5.00  -9.23    9.38        SUV
7      88  -9.94  -3.23  2.81  -2.98   -1.12        SUV
8      89  -8.37   4.21 -8.95   6.66    7.34        SUV
9      90   8.48   0.38 -3.02  -1.92   -7.43        SUV
10     91   0.79   0.96 -4.03  -2.28    6.20        SUV
11     92   5.32   2.08  5.55   7.89   -6.80  Hatchback
12     93  -7.26  -0.11 -5.27  -7.14    1.20        SUV
13     94   0.69   3.37  3.70  -5.73   -5.86        SUV
14     95  -5.53  -0.12  1.61   2.31   -8.66        SUV
15     96   8.29   1.44 -7.26   5.06   -7.00        SUV
16     97   9.09  -2.26  1.64   2.80   -1.22  Hatchback
17     98   5.04   4.52  0.28   8.26    4.59  Hatchback
18     99   4.55  -3.88 -2.02  -1.20   -0.42  Hatchback
19    100  -5.55   6.02  8.87   5.26   -2.27  Hatchback

In [0]:
df_train

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [0]:
df_train.describe

<bound method NDFrame.describe of     CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]>

In [0]:
df_train.ManBI.describe

<bound method NDFrame.describe of 0    -1.30
1    -5.38
2    -7.50
3    -2.85
4     2.68
      ...
75    7.36
76   -0.21
77   -3.76
78    4.37
79   -7.54
Name: ManBI, Length: 80, dtype: float64>

In [0]:
import numpy as np

In [0]:
np.unique(df_train.CarType)

array(['Hatchback', 'SUV'], dtype=object)

In [0]:
pd.crosstab(index=df_test.CarType,columns='colunt',normalize=True)*100

NameError: ignored

In [0]:
import sklearn
model1=sklearn.neighbors.KNeighborsClassifier(n_neighbors=3)

AttributeError: ignored

In [0]:
import sklearn.neighbors
model1=sklearn.neighbors.KNeighborsClassifier(n_neighbors=3)

In [0]:
import sklearn

In [0]:
model1=KNeighborsClassifier(n_neighbors=2)

NameError: ignored

In [0]:
model1.fit(df_train,df_test)

ValueError: ignored

In [0]:
df_train

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [0]:
train_x=df_train.drop(columns={'CarType','Safety'})

In [0]:
train_x

    CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[80 rows x 5 columns]

In [0]:
train_y=df_train['Safety']

In [0]:
train_y

0     4.04
1    -4.57
2    -5.10
3    -6.64
4     5.58
      ...
75    9.91
76   -8.16
77    0.67
78   -7.41
79    9.99
Name: Safety, Length: 80, dtype: float64

In [0]:
test_x=df_test.drop(columns={'Safety','CarType'})

In [0]:
test_y=df_test.Safety

In [0]:
test_x

    CarID  ManHI  ManBI  IntI  HVACi
0      81   1.94   2.21  3.38   1.78
1      82  -0.02  -3.33  0.79  -6.63
2      83  -0.49  -4.48  5.00   8.33
3      84   5.76   1.35  7.92  -0.43
4      85   2.51  -8.74  4.53  -1.91
5      86  -4.47   8.42 -0.05   5.57
6      87  -9.89  -2.25 -5.00  -9.23
7      88  -9.94  -3.23  2.81  -2.98
8      89  -8.37   4.21 -8.95   6.66
9      90   8.48   0.38 -3.02  -1.92
10     91   0.79   0.96 -4.03  -2.28
11     92   5.32   2.08  5.55   7.89
12     93  -7.26  -0.11 -5.27  -7.14
13     94   0.69   3.37  3.70  -5.73
14     95  -5.53  -0.12  1.61   2.31
15     96   8.29   1.44 -7.26   5.06
16     97   9.09  -2.26  1.64   2.80
17     98   5.04   4.52  0.28   8.26
18     99   4.55  -3.88 -2.02  -1.20
19    100  -5.55   6.02  8.87   5.26

In [0]:
test_y

0    -7.19
1     7.99
2    -2.77
3     4.29
4     3.95
5     9.62
6     9.38
7    -1.12
8     7.34
9    -7.43
10    6.20
11   -6.80
12    1.20
13   -5.86
14   -8.66
15   -7.00
16   -1.22
17    4.59
18   -0.42
19   -2.27
Name: Safety, dtype: float64

In [0]:
model1.fit(train_x,train_y)

ValueError: ignored

In [0]:
train_x

    CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[80 rows x 5 columns]

In [0]:
train_x.isnull().sum()

CarID    0
ManHI    0
ManBI    0
IntI     3
HVACi    0
dtype: int64

In [0]:
train_x=train_x.dropna()

In [0]:
model1.fit(train_x,train_y)

ValueError: ignored

In [0]:
train_x

    CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[77 rows x 5 columns]

In [0]:
train_x.drop_duplicates()

    CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[77 rows x 5 columns]

In [0]:
train_x.head

<bound method NDFrame.head of     CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[77 rows x 5 columns]>

In [0]:
train_x['212']

KeyError: ignored

In [0]:
train_x.all

<bound method DataFrame.all of     CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[77 rows x 5 columns]>

In [0]:
train_x.loc[[76]]

    CarID  ManHI  ManBI  IntI  HVACi
76     77  -3.93  -0.21 -2.65   3.57

In [0]:
train_x.set_index('CarID')

       ManHI  ManBI  IntI  HVACi
CarID
1      -5.27  -1.30  2.86  -4.85
2      -4.82  -5.38  9.72  -0.97
3       9.57  -7.50 -7.61   1.33
4       2.84  -2.85  0.92   5.51
5       0.00   2.68 -4.15   0.85
...      ...    ...   ...    ...
76      2.92   7.36 -2.12   4.09
77     -3.93  -0.21 -2.65   3.57
78      0.88  -3.76 -5.45   0.62
79      3.30   4.37 -2.13   8.45
80      5.02  -7.54  1.57  -2.31

[77 rows x 4 columns]

In [0]:
model1.fit(train_x,train_y)

ValueError: ignored

In [0]:
train_x

    CarID  ManHI  ManBI  IntI  HVACi
0       1  -5.27  -1.30  2.86  -4.85
1       2  -4.82  -5.38  9.72  -0.97
2       3   9.57  -7.50 -7.61   1.33
3       4   2.84  -2.85  0.92   5.51
4       5   0.00   2.68 -4.15   0.85
..    ...    ...    ...   ...    ...
75     76   2.92   7.36 -2.12   4.09
76     77  -3.93  -0.21 -2.65   3.57
77     78   0.88  -3.76 -5.45   0.62
78     79   3.30   4.37 -2.13   8.45
79     80   5.02  -7.54  1.57  -2.31

[77 rows x 5 columns]

In [0]:
train_y

0     4.04
1    -4.57
2    -5.10
3    -6.64
4     5.58
      ...
75    9.91
76   -8.16
77    0.67
78   -7.41
79    9.99
Name: Safety, Length: 80, dtype: float64

In [0]:
train_y.isnull().sum()

0

In [0]:
df_train

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [0]:
train_y=df_train.copy()

In [0]:
train_y

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[80 rows x 7 columns]

In [0]:
train_y.isnull().sum()

CarID      0
ManHI      0
ManBI      0
IntI       3
HVACi      0
Safety     0
CarType    0
dtype: int64

In [0]:
train_y=train_y.dropna()

In [0]:
train_y

    CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0       1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1       2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2       3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3       4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4       5   0.00   2.68 -4.15   0.85    5.58        SUV
..    ...    ...    ...   ...    ...     ...        ...
75     76   2.92   7.36 -2.12   4.09    9.91  Hatchback
76     77  -3.93  -0.21 -2.65   3.57   -8.16        SUV
77     78   0.88  -3.76 -5.45   0.62    0.67        SUV
78     79   3.30   4.37 -2.13   8.45   -7.41  Hatchback
79     80   5.02  -7.54  1.57  -2.31    9.99  Hatchback

[77 rows x 7 columns]

In [0]:
train_y=train_y.Safety

In [0]:
train_y

0     4.04
1    -4.57
2    -5.10
3    -6.64
4     5.58
      ...
75    9.91
76   -8.16
77    0.67
78   -7.41
79    9.99
Name: Safety, Length: 77, dtype: float64

In [0]:
model1.fit(train_x,train_y)

ValueError: ignored

In [0]:
result=model1.predict(test_x)

In [0]:
result

array(['Hatchback', 'SUV', 'Hatchback', 'Hatchback', 'SUV', 'Hatchback',
       'SUV', 'SUV', 'Hatchback', 'Hatchback', 'SUV', 'Hatchback', 'SUV',
       'SUV', 'SUV', 'Hatchback', 'Hatchback', 'Hatchback', 'Hatchback',
       'Hatchback'], dtype=object)

In [0]:
df_train=df_train.dropna()

In [0]:
df_train=df_train.set_index('CarID')

In [28]:
df_train

       ManHI  ManBI  IntI  HVACi  Safety    CarType
CarID
1      -5.27  -1.30  2.86  -4.85    4.04        SUV
2      -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
3       9.57  -7.50 -7.61   1.33   -5.10  Hatchback
4       2.84  -2.85  0.92   5.51   -6.64  Hatchback
5       0.00   2.68 -4.15   0.85    5.58        SUV
...      ...    ...   ...    ...     ...        ...
76      2.92   7.36 -2.12   4.09    9.91  Hatchback
77     -3.93  -0.21 -2.65   3.57   -8.16        SUV
78      0.88  -3.76 -5.45   0.62    0.67        SUV
79      3.30   4.37 -2.13   8.45   -7.41  Hatchback
80      5.02  -7.54  1.57  -2.31    9.99  Hatchback

[77 rows x 6 columns]

In [0]:
df_train['carrier']=df_train['CarType'].cat.codes

In [35]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 1 to 80
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ManHI    77 non-null     float64
 1   ManBI    77 non-null     float64
 2   IntI     77 non-null     float64
 3   HVACi    77 non-null     float64
 4   Safety   77 non-null     float64
 5   CarType  77 non-null     category
 6   carrier  77 non-null     int8
dtypes: category(1), float64(5), int8(1)
memory usage: 3.9 KB

In [0]:
df_train['CarType']=df_train['CarType'].astype('category')

In [0]:
df_train['CarType']=df_train['carrier']

In [0]:
df_train=df_train.drop(columns='carrier')

In [0]:
df_test=df_test.set_index('CarID')

In [0]:
df_test['CarType']=df_test['CarType'].astype('category')

df_test['CarType']=df_test['CarType'].cat.codes

In [45]:
df_test

       ManHI  ManBI  IntI  HVACi  Safety  CarType
CarID
81      1.94   2.21  3.38   1.78   -7.19        0
82     -0.02  -3.33  0.79  -6.63    7.99        1
83     -0.49  -4.48  5.00   8.33   -2.77        0
84      5.76   1.35  7.92  -0.43    4.29        0
85      2.51  -8.74  4.53  -1.91    3.95        0
86     -4.47   8.42 -0.05   5.57    9.62        0
87     -9.89  -2.25 -5.00  -9.23    9.38        1
88     -9.94  -3.23  2.81  -2.98   -1.12        1
89     -8.37   4.21 -8.95   6.66    7.34        1
90      8.48   0.38 -3.02  -1.92   -7.43        1
91      0.79   0.96 -4.03  -2.28    6.20        1
92      5.32   2.08  5.55   7.89   -6.80        0
93     -7.26  -0.11 -5.27  -7.14    1.20        1
94      0.69   3.37  3.70  -5.73   -5.86        1
95     -5.53  -0.12  1.61   2.31   -8.66        1
96      8.29   1.44 -7.26   5.06   -7.00        1
97      9.09  -2.26  1.64   2.80   -1.22        0
98      5.04   4.52  0.28   8.26    4.59        0
99      4.55  -3.88 -2.02  -1.20   -0.42        0
100    -5.55   6.02  8.87   5.26   -2.27        0

In [0]:
import sklearn.neighbors
model1=sklearn.neighbors.KNeighborsClassifier(n_neighbors=3)

In [0]:
train_x=df_train.drop(columns='CarType')

In [0]:
train_y=df_train.CarType

In [0]:
test_x=df_test.drop(columns='CarType')

In [0]:
test_y=df_test.CarType

In [69]:
model1.fit(train_x,train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [0]:
result=model1.predict(test_x)

In [72]:
import sklearn.metrics
sklearn.metrics.accuracy_score(test_y,result)

0.7